%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
      %title Personal Inventory Manager
      %script{:src => "scripts/jquery-1.6.2.js", :type => "text/javascript"}
      %script{:src => "scripts/jquery-ui-1.8.16.custom.min.js", :type => "text/javascript"}
      %link{:href => "styles/jquery-ui-1.8.16.custom.css", :rel => "stylesheet", :type => "text/css"}/
      %script{:src => "scripts/autocomplete.js", :type => "text/javascript"}
      %script{:src => "scripts/validate.js", :type => "text/javascript"}
      %script{:src => "scripts/add.js", :type => "text/javascript"}
      %link{:href => "styles/core.css", :rel => "stylesheet", :type => "text/css"}/
      %link{:href => "styles/add.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    = haml :links
    .title_container
      .title_div Add Item
    %form#mainform{:action => "add", :method => "post", :onsubmit => "return validator.failFastValidate(fncfail, null);"}
      Name
      %span.red> *
      \:
      %input.large_font{:isrequired => "Name", :name => "nme", :type => "text"}/
      %br/
      %br/
      UPC
      %span.red> *
      \:
      %input.large_font{:isrequired => "UPC", :name => "upc", :type => "text"}/
      %br/
      %br/
      Location:
      %input.large_font{:type => "text"}/
      %br/
      %br/
      Category:
      %input#category.large_font{:type => "text"}/
      %br/
      %br/
      #cont
      Notes:
      %br/
      %br/
      %textarea.large_font{:cols => "50", :rows => "5"}
      %br/
      %br/
      %input.large_font{:type => "submit", :value => "Add"}/
      %br/
      %br/
      %br/
      %span.red *
      Required field
