%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
      %title Personal Inventory Manager
      %link{:href => "styles/core.css", :rel => "stylesheet", :type => "text/css"}/
      %link{:href => "styles/index.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    = haml :links
    .title_container
      .title_div Personal Inventory Manager
    = haml :search_bar
    - if not params[:added].nil?
      %br/
      .added_div
        Item added successfully.
      %br/
      %div{:style => "padding:10px;background-color:#DDDDDD;border: 5px solid #000000;margin-right:25px;"}
        %div{:style => "font-size:50px;"} Recent Changes
