.links_panel
  .links_group
    .links_title Links:
    %br/
    %a{:href => "/"} Main Page
    %br/
    %a{:href => "add"} Add Item
    %br/
    %a{:href => "search"} Advanced Search
    %br/
    %a{:href => "report"} Reports
    %br/
