%div{:style => "padding:10px;background-color:#BBBBBB;border: 5px solid #000000;"}
  %div{:style => "font-size:35px;"}
    %a{:href => "details", :style => "color:#0000FF;cursor:pointer;"} 2GB DDR3 RAM for Dell Inspiron 1520 laptop
  %div{:style => "font-size:18px;"} Created: 29/9/2011 3:20 pmÊÊÊÊModified: 6/10/2011 2:45 pm
  %div{:style => "font-size:20px;"}
    UPC: 912837465555
    %br/
    Category: RAM
    %br/
    Size: 8GB
    %br/
    Manufacturer: Dell
%br/
