body
{
    padding-left:225px;
    padding-top:125px;
    font-size:20px;
}
div.title_container
{
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100px;
    padding:0;
    overflow:hidden;
    text-align:center;
}
div.title_div
{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100px;
    overflow:hidden;
    padding-left:100px;
    text-align:center;
    font-size:75px;
}
.large_font
{
    font-size:20px;
}
div.links_panel
{
    position:fixed;
    left:0px;
    top:0px;
    width:200px;
    height:100%;
    background-color:#DDDDDD;
}
div.links_group
{
    position:absolute;
    left:0px;
    top:200px;
    width:200px;
    text-align:center;
}
div.links_title
{
    font-size:50px;
    text-align:center;
}
div.search_div
{
    padding-bottom:10px;
}
form.search_form
{
    display:inline;
}
a:link
{
    color:#0000FF;
    cursor:pointer;
}
a:visited
{
    color:#0000FF;
    cursor:pointer;
}
a:hover
{
    color:#0000FF;
    cursor:pointer;
}
a:active
{
    color:#0000FF;
    cursor:pointer;
}